* {
    margin: 0;
    padding: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 1052px;
    height: 105px;
    /*align-items: center;*/
    margin: 92px 24px 96px 24px; 
    }

.header__links-list {
    display: flex;
    justify-content: space-between;
    width: 387px;
    height: 22px;
    margin: 44px 49.51px 39px 26.52px;
    font-size: 18px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
text-underline-position: under;  
}

.header__logo-image {
    display: block;
    width: 148px;
    height: 105px;
    margin-left: -11px;
}

.address {
    width: 240px;
    height: 98px;
    margin: 5px 25.48px 2px 184.53px;
    text-underline-position: under;
    font-size: 18px;
    line-height: 1.4;
}